<template name="editprofile">
    <main role="main" class="container">
        <h1>Здравствуйте, {{#if currentUser.profile.name}}{{currentUser.profile.name}}{{else}}{{currentUser.emails.[0].address}}{{/if}}.</h1>
        <hr />{{#unless currentUser.profile.name}}

        <div class="card bg-warning">
            <div class="card-header">
                Не введено полное имя
            </div>
            <div class="card-body">
                Пожалуйста убедитесь, что вы заполнили свой профиль. </div>
        </div>
        {{/unless}} {{#unless currentUser.username}}
        <div class="card bg-warning">
            <div class="card-header">
                Не введено имя пользователя
            </div>
            <div class="card-body">
                Пожалуйста убедитесь, что вы заполнили свой профиль. </div>
        </div>
        {{/unless}}
        <div class="card bg-default">
            <div class="card-header">
                Настройка профиля
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-lg-3 col-sm-3 col-6 pull-center mx-auto">
                        <img class="img-thumbnail pull-center mx-auto" src="https://www.gravatar.com/avatar/{{md5 currentUser.emails.[0].address}}?s=512" alt="{{currentUser.emails.[0].address}}" />
                    </div>
                    <div class="col-md-8 col-lg-9 col-sm-9 col-12 ">
                        <p>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="email-addon"><span class="fas fa-envelope"></span></span>
                                </div>
                                <input type="text" disabled class="form-control" value="{{currentUser.emails.[0].address}}" id="email" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                            </div>
                        </p>
                        <form class='.editprofile-form' action="/" method="POST">
                            <p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="fullname-addon"><span class="fas fa-user"></span></span>
                                    </div>
                                    <input type="text" class="form-control" value="{{currentUser.profile.name}}" name="fullname" placeholder="Full Name" aria-label="Full Name" aria-describedby="fullname-addon">
                                </div>
                            </p>
                            <p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="username-addon"><span class="fas fa-user-secret"></span></span>
                                    </div>
                                    <input type="text" name="username" class="form-control" value="{{currentUser.username}}" placeholder="Username" aria-label="Username" aria-describedby="username-addon">
                                </div>
                            </p>
                            <!--
                            <p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="domain-addon"><span class="fas fa-asterisk"></span></span>
                                    </div>
                                    <input type="text" name="domain" class="form-control" value="{{currentUser.profile.domain}}" placeholder="Domain" aria-label="Domain" aria-describedby="domain-addon">
                                </div>
                            </p>
                            -->
                            <p>
                                <small>Вы можете поменять свой аватар на <a href="https://gravatar.com/" target="_blank">gravatar.com</a></small>
                            </p>
                            <p>
                                <button type="submit" class="btn btn-primary btn-small float-right">Сохранить</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>