<template name="login">
    <main role="main" class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12 pull-center mx-auto">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Добро пожаловать в <span class="fas fa-asterisk"></span>монитор!</h5>
                        <p class="card-text">Чтобы начать, пожалуйста авторизуйтесь.</p>
                    </div>
                </div>
                {{#if setupComplete}}
                {{>atForm}}
                {{else}}
                <p>Вам нужно <a href="{{pathFor 'setup'}}">настроить</a> <span class="fas fa-asterisk"></span>монитор перед тем как продолжить.</p>
                {{/if}}
            </div>
        </div>
    </main>
</template>